langchain-core==0.3.72
google-cloud-bigtable==2.31.0
deprecated==1.2.18
typing-extensions==4.12.0
numpy==2.3.2; python_version >= "3.11"
numpy==2.2.6; python_version == "3.10"
numpy==2.0.2; python_version <= "3.9"
